.cweu-navbar {
	background-color: $primary-color;
	font-family:  $primary-font-family;
	border: none;
	padding-top: 15px;
	margin-bottom: 0;
	border-radius: 0;

	a {
		color: $white;
		
	}

	.navbar-brand {
		padding: 15px 100px 15px 50px;
		font-weight: bold;
		font-size: 27px;
	}

	.cweu-navbar-list {		
		font-size: 20px;

		li {
			border-left: 1px solid $secondary-color;

			&:first-child {
				border: none;
			}
			a {
				padding-left: 30px;
				padding-right: 30px;				
				@include transition(all 0.3s linear);

				&:hover, &:focus {
					background-color: $secondary-color !important;
					color: $primary-color !important;

				}
			}
		}
	}

	.dropdown {

		.dropdown-menu {
			@include box-shadow(none);

			a {
				padding: 3px 20px 3px 5px;
			}

			i {
				font-size: 18px;
				border-right: 1px dotted #999;
				padding: 5px;
				margin-right: 2px;
				width: 30px;
			}
		}
	}

	.avatar{
		padding: 9px;
		
		&:hover, &:focus {		
			background-color: transparent;

			img {
				@include filter(grayscale, 0%);				
			}
		}

		img {
			@include filter(grayscale, 100%);
			@include transition(all 0.3s linear);
		}
	}

	.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
		background-color: transparent;
		border-color: none;		
	}
}